*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app{
  background: #FFF;
}

nav{
  height: 60px;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.085px;
  gap: 0.5rem;
}

.card {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap:15px;
}

.card--image {
  width: 175px;
  height: 188px;
  border-radius: 5px;
}

.card__info{
  margin-top: 1rem;
  width: 28.125rem;
}

.card__info--location{
color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.741px;
text-transform: uppercase;
margin-right:15px;
}

.card__info--icon {
  margin-right: 3px;
}


.card__info > a{
  color: #918E9B;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.card__info--title{
  margin-top:5px;
}

.card__info--dates{
  color: #2B283A;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__info--description{
  font-weight: 400;
  font-size: 13.24px;
  line-height: 150%;
  color: #2b283a;
}

.separator{
  margin-top:35px;
  width: 725px;
  height: 1px;
  margin-left:auto;
  margin-right:auto;
  border-top: 1px solid #d1d0d7;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
  background-color: #d1d0d7;
}