*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background: #FFF;
}

nav{
  height: 60px;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.085px;
  gap: 0.5rem;
}

.card {
  display: flex;
  margin:40px;
  justify-content: center;
  gap:15px;
}

.card--image {
  width: 45%;
  object-fit: cover;
  height: auto;
  border-radius: 1rem;
}

.card__info--location{
color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.741px;
text-transform: uppercase;
margin-right:15px;
}

.card__info--icon {
  margin-right: 3px;
}


.card__info > a{
  color: #918E9B;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}