*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background: #FFF;
}

nav{
  height: 60px;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 14.461px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.085px;
  gap: 0.5rem;
}